@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-gray-900 antialiased;
}

main {
  @apply mx-auto w-full max-w-7xl px-4 py-8 sm:px-6 lg:px-8;
}
